<h2 style="margin: 50px 0 20px 0">Listing users</h2>

<table>  
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password digest</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td style="font-size:10px"><%= user.password_digest %></td>
        <td style="padding-right:5px"><%= link_to 'Show', user, class: "link" %> </td>
        <td style="padding-right:5px"><%= link_to 'Edit', edit_user_path(user), class: "link" %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class: "link" %>

<br>
