<% provide(:title, 'Sign up') %>
<h2 style="margin:50px 0 0 -15px">Sign Up</h2>

<div class="row" style="margin-top:20px">
  <div>
    <%= form_for(@user) do |f| %>
		 <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

<br>
      <%= f.submit "Create my account", class: "button" %>
	<% end %>
  </div>
</div>
